->Add imports as needed here or inline. Comment your code and don't interfere with code you're not working on.

Imports of the california housing dataset and resources

In [0]:
import numpy as np
import pandas as pd
import random

from sklearn.datasets import fetch_california_housing

->Filling Missing Values Starts here

Importing the data and saving it into pandas data frame for manipulation

In [0]:
housing = fetch_california_housing()
df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [67]:
df.describe()

             MedInc      HouseAge  ...      Latitude     Longitude
count  20640.000000  20640.000000  ...  20640.000000  20640.000000
mean       3.871937     28.585932  ...     35.633788   -119.565009
std        1.796824     11.926464  ...      2.029011      1.901034
min        0.499900      1.000000  ...     32.540000   -124.300000
25%        2.663050     19.000000  ...     33.970000   -121.500000
50%        3.757800     28.585932  ...     35.330000   -119.280000
75%        4.578250     36.000000  ...     37.630000   -118.080000
max       15.000100     52.000000  ...     41.950000   -114.310000

[8 rows x 8 columns]

In [0]:
df.isnull().sum()

After some deliberation we noticed that there were no missing values so we randomly set sone NaN values then fixed them

In [0]:
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
for row, col in random.sample(ix, int(round(.1*len(ix)))):
    df.iat[row, col] = np.nan

In [0]:
df.isnull().sum()

In [0]:
df.fillna(df.mean(), inplace=True)

In [0]:
df.isnull().sum()

->Do encoding Below this

In [0]:
housing = fetch_california_housing()

->Do feature selection below this

In [0]:
housing = fetch_california_housing()

->Do feature extraction below this

In [0]:
housing = fetch_california_housing()